<div class="mom-orders">
    <div class="sync-wrapper">
        <div class="sync-payments">
            <h3>Batch Payments</h3>
            <p class="desc">Click the "Payments" button to process batch payments for items that are ready to be shipped.</p>

            {{#if syncInProgress}}
                <button class="btn primary-btn sync-btn disabled"><i class="fa fa-spin fa-cog"></i></button>
            {{else}}
                <button class="btn primary-btn sync-btn" {{action 'downloadFromMOM' 'payment'}}><i class="fa fa-download"></i> Payments</button>
            {{/if}}
        </div>

        <div class="sync-refunds">
            <h3>Batch Returns</h3>
            <p class="desc">Click the "Returns" button to process batch refunds for items that have been returned.</p>

            {{#if syncInProgress}}
                <button class="btn primary-btn sync-btn disabled"><i class="fa fa-spin fa-cog"></i></button>
            {{else}}
                <button class="btn primary-btn sync-btn" {{action 'downloadFromMOM' 'refund'}}><i class="fa fa-download"></i> Returns</button>
            {{/if}}
        </div>
    </div>

    <h2>Orders</h2>

	<p class="page-desc">
        Listed below are the orders in M.O.M. that are placed on your Bigcommerce store. Search for a specific
        order by entering the order number, customer name, email address or the last 4 digits of their credit card below.
	</p>

	{{search-bar placeholder="Search with Bigcommerce Order Number, MOM Order Number, Customer Name, Customer Email or Last 4 Digits of Credit Card" value=searchTerm}}

	<div class="orders">
		{{#if isLoading}}
			<div class="loading-result animated fadeIn"><i class="fa fa-spin fa-cog"></i> Please Wait...</div>
		{{else}}
			{{#if isSearchResult}}
				<p class="animated fadeInUp">Showing search results for "{{ searchTerm }}". Clear the search term above to show all orders.</p>
			{{/if}}

			{{#if model}}
				{{#if changingPage}}
                    <div class="loading-result"><i class="fa fa-spin fa-cog"></i> Please Wait...</div>
				{{else}}
					{{mom-order-list orders=model}}
				{{/if}}

				{{pagination-list total=pages selected=currentPage}}
			{{else}}
				<p class="message info"><i class="fa fa-info-circle"></i> No results. If you haven't done so already, please click the Sync button
					above to get new orders from M.O.M. into our system.</p>
			{{/if}}
		{{/if}}
	</div>

	{{#if showBatchModal}}
		{{mom-batch-modal orders=batchOrders}}
	{{else if showRefundModal}}
        {{mom-batch-refund-modal orders=batchOrders}}
    {{/if}}
</div>