@import "../../../../dashboard/1.0/styles/config";

/* General / Misc. */

.success-message {
	background: #f7fcf2;
	border-color: #339b33;
}

.error-message {
	color: #9B3333 !important;
	background: #FCF2F2;
	border-color: #9B3333;
}

.error-message, .success-message {
	border: 1px solid;
	padding: 10px 20px;
	font-size: .85em;
	font-weight: bold;
	margin-bottom: 1em;
}

.section-content {
	ul {
		list-style: none;
		margin: 1em 0 2em 0;
		padding: 0;
	}
}

.addon-momconnector {
	ul.vertical-form {
		list-style: none;
		margin-bottom: 2em;
		padding-left: 0;

		& > li {
			margin-bottom: 1em;
			max-width: 200px;
		}
	}

	.vertical-form {
		label {
			display: block;
			font-weight: bold;
			margin-bottom: 0.75em;
		}

		input[type=text] {
			display: inline-block;
			max-width: 400px;
			width: 100%;

			&.amount {
				margin-left: 0.5em;
				max-width: 180px;
			}
		}
	}

	.payment-edit {
		background: transparent;
		border-radius: 0.15em;
		color: #888;
		float: right;
		font-size: 0.75em;
		margin-left: 0.5em;
		text-decoration: none;
		text-transform: uppercase;

		&, .fa {
			line-height: 1.3em;
			@include transition(all 0.3s 0s ease-in-out);
		}

		&:hover {
			cursor: pointer;

			&, .fa {
				color: $siteTextColor;
			}
		}
	}

	.loading-result {
		color: #CCC;
		font-size: 2em;
		padding: 4em 0;
		text-align: center;

		.fa {
			margin-right: 0.5em;
		}
	}

	.mom-orders {
		.sync-wrapper {
			background: #EFEFEF;
			display: flex;
			margin-bottom: 2em;
			width: 100%;

			& > div {
				border-left: 1px solid #FFF;
				box-sizing: border-box;
				padding: 1em;
				width: 50%;
				flex: 1;

				&:first-child {
					border-left: 0 none;
				}

				h3 {
					margin-top: 0;
				}

				p {
					min-height: 3em;
				}
			}
		}

		.page-desc {
			.sync-btn {
				float: right;
				margin-left: 1em;
				min-width: 100px;
			}
		}
	}

	.mom-order {
		h2 {
			float: left;
		}

		.page-desc {
			margin-top: 0;
		}

		.btn.return-btn {
			float: left;
			margin-bottom: 1em;
			margin-top: 1.95em;
			margin-left: 2em;

			background: transparent;
			border: 1px solid $siteSecondaryColor;
			color: $siteSecondaryColor;

			.fa {
				margin-right: 0.5em;
			}

			&:hover {
				background: $siteSecondaryColor;
				color: $siteBgColor;
			}
		}

		.refund-btn {
			background: transparent;
			border: 1px solid $sitePrimaryColor;
			color: $sitePrimaryColor;

			&.disabled {
				&, &:hover {
					background: transparent;
					color: #CCC;
					border-color: #CCC;
				}
			}

			&:hover {
				background: $sitePrimaryColor;
				border-color: $sitePrimaryColor;
				color: $siteBgColor;
			}
		}

		.customer-field {
			display: block;
			margin-bottom: 0.5em;

			.fa {
				color: #aaa;
				display: inline-block;
				margin-right: 0.5em;
				text-align: center;
				width: 16px;
			}
		}

		.section-content {
			padding: 1em 1.25em;

			dt, dd {
				display: block;
				margin-bottom: 0.5em;
			}

			dl {
				margin-bottom: 0;
				width: 100%;
			}

			dt {
				clear: left;
				font-weight: bold;
				width: 200px;
			}

			dd {
				margin-left: 0;
				margin-bottom: 1em;

				.mom-payment-display {
					max-width: 200px;
				}
			}

			.field-label {
				color: #AAA;
				font-weight: bold;
				text-transform: uppercase;
			}

			&.alternate {
				background: #F1F1F1;
			}

			.left-col, .right-col {
				box-sizing: border-box;
				float: left;
				width: 50%;
			}

			.order-details {
				border-right: 2px solid $siteBgColor;
			}

			.payment-details {
				padding-left: 1.25em;

				.mom-payment-display {
					.card-type .fa {
						color: #AAA;
					}
				}
			}

			.price {
				display: inline-block;
				vertical-align: middle;
			}

			.charge-btn {
				border: 1px solid $sitePrimaryColor;
				color: $sitePrimaryColor;

				&:hover {
					background: $sitePrimaryColor;
					border-color: $sitePrimaryColor;
					color: $siteBgColor;
				}

				&.disabled {
					&, &:hover {
						background: transparent;
						border-color: #CCC;
						color: #CCC;
					}
				}
			}
		}

		.mom-risk-score {
			background: transparent;
			border: 0 none;
			font-size: 1.5em;
			font-weight: bold;
			padding: 0;
			text-align: left;
			width: auto;
		}
	}

	.mom-reports {
		.radio-group {
			float: left;
		}

		.start-date {
			display: inline-block;
			float: right;
			text-align: right;
			min-width: 200px;

			& > span {
				font-weight: bold;
			}

			.datepicker-wrapper {
				display: inline-block;
			}

			input {
				margin-bottom: 0;
				width: 130px;
			}
		}

		.print-btn {
			box-shadow: 0 2px 1px #AAA;
			font-size: 1em;
			margin-left: 1em;
			padding-bottom: 0.5em;
			padding-top: 0.5em;
		}
	}
}

.mom-batch-list .row {
	float: left;
}

.mom-order-list, .mom-batch-list, .mom-batch-result-list {
	list-style: none;
	padding-left: 0;

	.row {
		box-sizing: border-box;
		padding: 0.5em 0.25em;

		&.header {
			border-bottom: 2px solid #CCC;
			width: 100%;

			.col {
				color: $siteTextColor;
				font-size: 0.85em;
				text-transform: uppercase;
			}
		}

		.col {
			display: inline-block;
			float: left;

			&.id, &.customer, &.total, &.outstanding {
				line-height: 1.35em;
			}

			&.id {
				width: 135px;
			}

			&.mom_id {
				width: 165px;
			}

			&.customer {
				width: 200px;
			}

			&.total, &.outstanding, &.amount {
				width: 150px;
			}

			&.method {
				width: 200px;
			}

			&.actions {
				float: right;

				.view-btn, .charge-btn {
					background: transparent;
					border: 1px solid;

					&:hover {
						color: $siteBgColor;
					}
				}

				.view-btn {
					border-color: $siteSecondaryColor;
					color: $siteSecondaryColor;

					&:hover {
						background: $siteSecondaryColor;
						border-color: $siteSecondaryColor;
					}
				}

				.charge-btn {
					border-color: $sitePrimaryColor;
					color: $sitePrimaryColor;

					&:hover {
						background: $sitePrimaryColor;
						border-color: $sitePrimaryColor;
					}

					&.disabled {
						&, &:hover {
							background: transparent;
							border-color: #CCC;
							color: #CCC;
						}
					}
				}

				.error-icon {
					color: $siteWarningTextColor;
					display: inline-block;
					font-size: 1.2em;
					margin-right: 0.5em;
					vertical-align: middle;
				}

				.hold-icon {
					color: $siteErrorColor;
					display: inline-block;
					font-size: 1.2em;
					margin-right: 0.5em;
					vertical-align: middle;
				}
			}
		}

		&.alternate {
			background: #EFEFEF;
		}
	}
}

.mom-batch-item {
	input[type=checkbox] {
		margin-right: 0.25em;
		vertical-align: middle;
	}

	input[type=text] {
		padding: 0;
		max-width: 120px;
	}
}

.mom-batch-result-item {
	.fa-check-circle {
		color: $siteSuccessColor;
	}

	.fa-times-circle {
		color: $siteErrorColor;
	}
}

.remodal.mom-modal {
	max-width: 1080px;
	text-align: left;

	.remodal-close {
		display: none;
	}

	h2 {
		margin-top: 0;
	}

	.hold-icon {
		color: $siteErrorColor;
	}

	.modal-action {
		margin-top: 1em;

		button {
			float: right;
			margin-left: 0.5em;
		}
	}

	.modal-error {
		display: inline-block;
		float: left;

		p {
			margin: 0.35em 0;
		}

		.fa {
			color: $siteErrorColor;
			margin-right: 0.25em;
		}
	}
}

.mom-payment-display {
	display: inline-block;
	width: 100%;

	.card-type {
		display: block;
		float: left;

		.fa {
			color: #999;
			font-size: 2.2em;
		}
	}

	.card-info {
		float: right;
		font-family: monospace;
		line-height: 1.4em;
		text-align: right;
		width: 150px;

		& > span {
			display: inline-block;
		}

		.card-num {
			float: left;
			width: 100%;
		}

		.card-expiry {
			float: right;
		}
	}

	&.inline {
		vertical-align: middle;

		.card-type {
			.fa {
				font-size: 1em;
			}
		}

		.card-info {
			float: left;
			margin-left: 1em;
			text-align: left;
			width: auto;

			.card-num {
				float: left;
				width: auto;
			}
		}

		.card-expiry {
			display: none;
		}
	}
}

.mom-transaction-listing {
	list-style: none;
	padding-left: 0;

	.col {
		display: inline-block;

		&.date, &.order, &.type, &.amount, &.method, &.transaction_id {
			line-height: 1.35em;
		}

		&.order {
			width: 120px;
		}

		&.date {
			width: 180px;
		}

		&.type {
			width: 100px;
		}

		&.amount {
			width: 120px;
		}

		&.method {
			width: 200px;
		}

		&.transaction_id {
			width: 150px;
		}

		&.expand {
			color: #CCC;
			text-align: center;
			width: 30px;

			.fa {
				cursor: pointer;
			}
		}

		&.actions {
			float: right;
		}
	}

	.error {
		display: block;
		margin: 0.5em 0 0.5em 2em;

		.fa {
			color: $siteWarningTextColor;
		}
	}
}

.mom-transaction-item {
	box-sizing: border-box;
	padding: 0.5em 0.25em;

	&.header {
		border-bottom: 2px solid #CCC;
		width: 100%;

		.col {
			color: $siteTextColor;
			font-size: 0.85em;
			text-transform: uppercase;
		}
	}

	.products {
		border-left: 1px dashed #CCC;
		margin-bottom: 1em;
		margin-top: 0.5em;
		margin-left: 14px;
		padding-left: 22px;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		h4 {
			border-bottom: 1px solid #CCC;
			color: #AAA;
			font-size: 0.85em;
			font-weight: normal;
			margin: 0 0.75em 0.5em 0;
			padding-bottom: 0.5em;
			text-transform: uppercase;
		}

		.product {
			padding: 0.25em 0;
		}

		.item-info {
			display: inline-block;
			width: 282px;
		}
	}

	&.alternate {
		background: #EFEFEF;
	}

	&.refunded {
		&, .mom-payment-display.inline .card-type .fa {
			color: #AAA;
		}
	}
}

.mom-risk-score {
	border: 1px solid;
	border-radius: 0.2em;
	cursor: default;
	display: inline-block;
	font-size: 0.75em;
	text-align: center;
	padding: 0.3em 0;
	width: 45px;

	&.safe {
		background: $siteSuccessBgColor;
		border-color: $siteSuccessColor;
		color: $siteSuccessColor;
	}

	&.warning {
		background: $siteWarningBgColor;
		border-color: $siteWarningColor;
		color: $siteWarningTextColor;
	}

	&.danger {
		background: $siteErrorBgColor;
		border-color: $siteErrorColor;
		color: $siteErrorColor;
	}
}