<div class="mom-order">
    <h2>Order No. {{ model.id }}{{#if orderInMOM}} ({{ model.momOrderId }}){{/if}}</h2>
	{{#link-to 'momconnector.orders' class="btn inline-btn return-btn"}}<i class="fa fa-caret-left"></i> Back to Orders{{/link-to}}

    <div class="clearfix"></div>

	<p class="page-desc">Shown below are the details of the order and it's related transactions.</p>

	{{#if model.onHold}}
		<p class="message error"><i class="fa fa-exclamation-circle"></i> This order is on permanent hold.</p>
	{{/if}}

	<div class="section-content alternate">
        <div class="order-details left-col">
            <span class="field-label">Order Information</span>
			<dl>
				<dt>Bigcommerce Order No.</dt>
				<dd>{{ model.id }}</dd>

				<dt>M.O.M. Order No.</dt>
				<dd>
                    {{#if orderInMOM}}
                        {{ model.momOrderId }}
                    {{else}}
                        N/A
                    {{/if}}
                </dd>

				<dt>Customer</dt>
				<dd>
					<span class="customer-field name">
						<i class="fa fa-user"></i> {{ model.firstName }} {{ model.lastName }}
					</span>

					<span class="customer-field email">
						<i class="fa fa-envelope"></i> {{ model.email }}
					</span>
				</dd>

                <dt>Risk Score</dt>
                <dd>{{mom-risk-score score=model.riskScore}}</dd>
			</dl>

			<div class="clearfix"></div>
        </div>

		<div class="payment-details right-col">
            <span class="field-label">Payment Details</span>

            <dl>
                <dt>Payment Method
					{{#link-to 'recurring.customers.customer.payment' model.userId model.profileId class="payment-edit"}}
                        <i class="fa fa-pencil"></i> edit
					{{/link-to}}
				</dt>
                <dd>
					{{mom-payment-display
						type=model.ccType
						last4=model.ccLast4
						expm=model.ccExpm
						expy=model.ccExpy
					}}
				</dd>

				<dt>Order Total</dt>
                <dd>
                    {{ FormatPrice model.total }}
                    {{#link-to "momconnector.orders.order.refund" model.id class="btn inline-btn refund-btn"}}
                        <i class="fa fa-refresh"></i> Refund
                    {{/link-to}}
                </dd>

                <dt>Amount Outstanding</dt>
                <dd>
					<span class="price">{{ FormatPrice model.outstanding }}</span>

                    {{#if hasOutstanding}}
                        {{#if orderInMOM }}
                            {{#link-to "momconnector.orders.order.payment" model.id class="btn inline-btn charge-btn"}}
                                <i class="fa fa-credit-card"></i> Charge
                            {{/link-to}}
                        {{else}}
                            <button class="btn inline-btn charge-btn disabled">
                                <i class="fa fa-credit-card"></i> Charge
                            </button>
                        {{/if}}
                    {{/if}}
				</dd>
            </dl>

			<div class="clearfix"></div>
		</div>

        <div class="clearfix"></div>
	</div>

	<div class="section-content">
		<div class="transaction-details">
            <span class="field-label">Past Transactions</span>

			{{#if model.transactions }}
				{{mom-transaction-listing transactions=model.transactions}}
			{{else}}
				<p>No transaction has been made for this order.</p>
			{{/if}}
		</div>
	</div>

	<div class="clearfix">&nbsp;</div>
</div>