<div class="mom-order-payment">
    <h2>Process Payment for Order No. {{ model.id }} ({{ model.momOrderId }})</h2>
    <p>Enter the payment amount below and click the Process button to submit the request.</p>

	{{#if model.onHold}}
		<p class="message error"><i class="fa fa-exclamation-circle"></i> This order is on permanent hold.</p>
	{{/if}}

    <div class="section-content alternate">
        <ul class="vertical-form">
            <li>
                <label>Payment Method
					{{#link-to 'recurring.customers.customer.payment' model.userId model.profileId class="payment-edit"}}
						<i class="fa fa-pencil"></i> edit
					{{/link-to}}
				</label>
				{{mom-payment-display
					type=model.ccType
					last4=model.ccLast4
					expm=model.ccExpm
					expy=model.ccExpy
				}}
            </li>

            <li>
                <label>Outstanding Amount</label>
				{{ FormatPrice model.outstanding }}
            </li>

            <li>
                <label>Payment Amount</label>
                ${{input type="text" name="payment-amount" class="amount" placeholder="0.00" value=amount}}
            </li>
        </ul>

		{{#if inProgress}}
            <button class="btn primary-btn disabled"><i class="fa fa-spin fa-cog"></i> Processing...</button>
		{{else}}
            <button class="btn primary-btn" {{action 'submitPayment'}}>Process</button>
			{{#link-to 'momconnector.orders.order' model.id class="btn primary-btn"}}Cancel{{/link-to}}
		{{/if}}

        <div class="clearfix"></div>
    </div>

    <div class="clearfix">&nbsp;</div>
</div>