<div class="mom-reports">
    <h2>Transaction Report</h2>

    <div class="start-date">
        <span>Date</span>
        {{date-picker selected=currentDate value=selectedDate format="yy-mm-dd"}}
    </div>

    {{radio-group values=filterTypes changeAction="changeType"}}

    {{#if model}}
        <a href="/customer/apps/momconnector/reports/print?date={{ selectedDate }}&amp;type={{ selectedType }}" target="_blank" class="btn inline-btn primary-btn print-btn">
            <i class="fa fa-print"></i> Print
        </a>
    {{/if}}

    <div class="clearfix"></div>

    <div class="transactions">
        {{#if isLoading}}
            <div class="loading-result animated fadeIn"><i class="fa fa-spin fa-cog"></i> Please Wait...</div>
        {{else}}
            {{#if model}}
                {{#if changingPage}}
                    <div class="loading-result"><i class="fa fa-spin fa-cog"></i> Please Wait...</div>
                {{else}}
                    {{mom-transaction-listing showOrderNo=true transactions=model}}
                {{/if}}

                {{pagination-list total=pages selected=currentPage}}
            {{else}}
                <p class="message info"><i class="fa fa-info-circle"></i> No transactions found.</p>
            {{/if}}
        {{/if}}
    </div>
</div>