<div class="mom-settings">
    <h2>Settings</h2>

    <dl>
        <dt><label>API Address</label></dt>
        <dd>{{input type="text" value=apiEndpoint}}</dd>

        <dt><label>MaxMind minFraud License Key</label></dt>
        <dd>{{input type="text" value=minFraudLicense}}</dd>
    </dl>

    {{#if inProgress}}
        <button class="btn primary-btn disabled"><i class="fa fa-spin fa-cog"></i> Saving...</button>
    {{else}}
        <button class="btn primary-btn" {{action 'save'}}>Save</button>
    {{/if}}
</div>