<span class="col id">
	{{input type="checkbox" checked=isChecked }}
	{{ order.order.id }}

	{{#if order.order.onHold}}
        <i class="fa fa-exclamation-circle hold-icon" title="This order is on permanent hold."></i>
	{{/if}}
</span>
<span class="col mom_id">{{ order.order.momOrderId }}</span>
<span class="col customer">{{ order.order.firstName }} {{ order.order.lastName }}</span>
<span class="col method">
	{{mom-payment-display
		inline=true
		type=order.order.ccType
		last4=order.order.ccLast4
		expm=order.order.ccExpm
		expy=order.order.ccExpy
	}}
</span>
<span class="col total">{{ FormatPrice order.order.total }}</span>
<span class="col amount">{{ FormatPrice order.amount }}</span>