<li class="mom-batch-item header row">
	<span class="col id">BC Order No.</span>
	<span class="col mom_id">M.O.M. Order No.</span>
	<span class="col customer">Customer</span>
	<span class="col method">Payment Method</span>
	<span class="col total">Order Total</span>
	<span class="col amount">Amount</span>
	<div class="clearfix"></div>
</li>

{{#each orders as |order index|}}
	{{mom-batch-item order=order selected=selected index=index}}
{{/each}}