{{#if showBatchSelection}}
    <h2>Batch Returns</h2>
    <p>Listed below are the current batch of orders that are ready to be refunded. Select the orders you wish to refund and
        click the "Process Batch" button to refund the selected orders for the amount displayed.</p>

    {{mom-batch-list orders=orders selected=selected chargeAmounts=amounts}}
{{else}}
    <h2>Processing Result</h2>

    {{mom-batch-result-list results=batchResult}}
{{/if}}

<div class="clearfix"></div>

<div class="modal-action">
    {{#if showError}}
        <div class="modal-error">
            <p><i class="fa fa-times-circle"></i> {{errorMessage}}</p>
        </div>
    {{/if}}

    {{#if isProcessing}}
        <button class="btn primary-btn disabled"><i class="fa fa-spin fa-cog"></i> Processing</button>
    {{else}}
        <button data-remodal-action="cancel" class="btn secondary-btn">Close</button>

        {{#if showBatchSelection}}
            <button class="btn primary-btn" {{action 'processBatch'}}>Process Batch</button>
        {{/if}}
    {{/if}}

    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>