<span class="col id">{{ result.id }}</span>
<span class="col mom_id">{{ result.momOrderId }}</span>
<span class="col amount">{{ FormatPrice result.amount }}</span>
<span class="col result">
	<i class="fa {{if result.success 'fa-check-circle' 'fa-times-circle'}}"></i> {{ result.message }}
</span>
<div class="clearfix"></div>