<span class="col id">{{order.id}}</span>
<span class="col mom_id">
    {{#if orderInMOM}}
        {{order.momOrderId}}
    {{else}}
        N/A
    {{/if}}
</span>
<span class="col customer">{{ order.firstName }} {{ order.lastName }}</span>
<span class="col total">{{ FormatPrice order.total }}</span>
<span class="col outstanding">{{ FormatPrice order.outstanding }}</span>
<span class="col method">
	{{mom-payment-display
		inline=true
		type=order.ccType
		last4=order.ccLast4
		expm=order.ccExpm
		expy=order.ccExpy
	}}
</span>
<span class="col actions">
    {{#if hasError}}
        <i class="fa fa-warning error-icon" title="The last transaction for this order resulted in an error."></i>
    {{/if}}

    {{#if order.onHold}}
		<i class="fa fa-exclamation-circle hold-icon" title="This order is on permanent hold."></i>
	{{/if}}

    {{mom-risk-score score=order.riskScore}}

	{{#link-to "momconnector.orders.order" order.id class="btn inline-btn view-btn"}}
		<i class="fa fa-clipboard"></i> View
	{{/link-to}}

    {{#if orderInMOM}}
        {{#link-to "momconnector.orders.order.payment" order.id class="btn inline-btn charge-btn"}}
            <i class="fa fa-credit-card"></i> Charge
        {{/link-to}}
    {{else}}
        <button class="btn inline-btn charge-btn disabled">
            <i class="fa fa-credit-card"></i> Charge
        </button>
    {{/if}}
</span>

<div class="clearfix"></div>