<li class="mom-batch-result-item header row">
	<span class="col id">BC Order No.</span>
	<span class="col mom_id">M.O.M. Order No.</span>
	<span class="col amount">Amount</span>
	<span class="col result">Result</span>
	<div class="clearfix"></div>
</li>

{{#each results as |result index|}}
	{{mom-batch-result-item result=result index=index}}
{{/each}}