<span class="card-type"><i class="fa fa-{{cardTypeClass}}"></i></span>

<div class="card-info">
	<span class="card-num">**** **** **** {{last4}}</span>
	<span class="card-expiry">
		<span class="card-expm">{{expm}}</span> / <span class="card-expy">{{expy}}</span>
	</span>
</div>

<div class="clearfix"></div>