<span class="col expand">
    {{#if loadTransactionProduct}}
        {{#if showTransactionProduct}}
            <i class="fa fa-minus-circle" {{action 'toggleProduct'}}></i>
        {{else}}
            <i class="fa fa-plus-circle" {{action 'toggleProduct'}}></i>
        {{/if}}
    {{/if}}
</span>
<span class="col date">{{ date }}</span>

{{#if showOrderNo }}
    <span class="col order">{{ transaction.order.id }}</span>
{{/if}}

<span class="col type">{{ transactionType }}</span>
<span class="col amount">{{if isRefund '− ' ''}}{{ FormatPrice transaction.amount }}</span>
<span class="col method">
	{{mom-payment-display
		inline=true
		type=transaction.ccType
		last4=transaction.ccLast4
		expm=transaction.ccExpm
		expy=transaction.ccExpy
	}}
</span>
<span class="col transaction_id">{{ transaction.transactionId }}</span>

{{#if loadTransactionProduct}}
    {{#if showTransactionProduct}}
        <div class="products">
            <h4>Items</h4>

            {{#each transaction.items as |product|}}
                <div class="product">
                    <span class="item-info">
                        <span class="qty">{{product.qty}}x</span>
                        <span class="name">{{product.name}}</span>
                    </span>
                    <span class="amount">{{#if isRefund}}- {{/if}}{{FormatPrice product.total}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}
{{/if}}

{{#if transaction.error }}
    <span class="error"><i class="fa fa-warning"></i> {{transaction.error}}</span>
{{/if}}