<li class="row header">
	<span class="col id">BC Order No.</span>
	<span class="col mom_id">M.O.M. Order No.</span>
	<span class="col customer">Customer</span>
	<span class="col total">Order Total</span>
	<span class="col outstanding">Outstanding</span>
	<span class="col method">Payment Method</span>

	<div class="clearfix"></div>
</li>

{{#each orders as |order index|}}
	{{mom-order-item order=order index=index}}
{{/each}}