{{#if showBatchSelection}}
    <h2>Batch Payments</h2>
    <p>Listed below are the current batch of orders that are ready to be charged. Select the orders you wish to charge and
        if necessary, update the amount. Click the "Process Batch" button to charge each order for the specified amount.</p>

	{{mom-batch-list orders=orders selected=selected chargeAmounts=amounts}}
{{else}}
	<h2>Processing Result</h2>

	{{mom-batch-result-list results=batchResult}}
{{/if}}

<div class="clearfix"></div>

<div class="modal-action">
	{{#if showError}}
		<div class="modal-error">
			<p><i class="fa fa-times-circle"></i> {{errorMessage}}</p>
		</div>
	{{/if}}

	{{#if isProcessing}}
		<button class="btn primary-btn disabled"><i class="fa fa-spin fa-cog"></i> Processing</button>
	{{else}}
		<button data-remodal-action="cancel" class="btn secondary-btn">Close</button>

		{{#if showBatchSelection}}
			<button class="btn primary-btn" {{action 'processBatch'}}>Process Batch</button>
		{{/if}}
	{{/if}}

	<div class="clearfix"></div>
</div>

<div class="clearfix"></div>