{{#app-wrapper app=model store=application.storeInfo}}
	<div class="addon-momconnector addon-main">
        <div class="mom-content">{{outlet}}</div>
	</div>

    <aside class="app-sidebar">
        <div class="sidebar-section advice">
            <h3 class="section-title">Description</h3>
            <p>
                This app stores a record of all web orders that have been paid using Authorize.Net payment gateway.
                Once the order synced with the M.O.M. server, you can process payments and handle refund.
            </p>
        </div>

        <div class="sidebar-section">
            <h3 class="section-title">MaxMind minFraud Service</h3>

            <p>The risk score displayed for each order is probability of an order being fraudulent.</p>

            <ul>
                <li>90% of all orders processed by minFraud scores below 5, which is considered to be
                    relatively safe.</li>
                <li>5% of orders fall between a score of 5 - 10, and a manual review
                    is recommended for these orders.</li>
                <li>5% of all orders have a score above 10, and it
                    should be reviewed with caution.</li>
            </ul>
        </div>
    </aside>

    <div class="clearfix">&nbsp;</div>
{{/app-wrapper}}